/* https://cdn.gotto.tk/LICENSE */

* {
    box-sizing: border-box;
    font-family: monospace;
  }
  
  /* Add a black background color to the top navigation */
  .topnav {
    background-color: #666666;
    overflow: hidden;
    z-index:1;
    position: fixed;
    width: 100%
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #05ffb4;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #949494;
    color: #7c2d38;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #030165;
    color: white;
  }
  
  #navbar {
      word-spacing: 40px;
      color: #a100db;
      position: fixed; 
      top: 0;
      width: 100%;
      overflow: hidden;
      background-color: #5c5c5c;
         transform: translateY(0);
      
  }
  
   
  .topnav:hover #navbar{
      transform: translateY(0);
  }

#notif {
  visibility: hidden;
  min-width: 250px;
  margin-right: 10px;
  background-color: #72ff36;
  color: #201b45;
  text-align: left;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}



#notif.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
